<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greetings</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <div class="imgdiv">
        <img id="img" src="{{ url_for('static', filename='img/ixt65.jpg') }}">
    </div>
    <h1 id="heading">GREETINGs</h1>
    <div id="name"> IXT65 </div>
    <div class="plate"></div>
    <div id="information">
        HOST Machine : "{{ context.hostname }}"<br>
        HOST IP : "{{ context.hosting_ip }}"
    </div>
    <hr>
    <div id="information">
        REQUESTER Machine : "{{ context.requester }}"
    </div>
</body>
</html>